<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <h1>Welcome to the Home Page!</h1>
    </header>
    <main>
        <p>You have successfully logged in.</p>
    </main>
    <footer>
        <p>© 2024 Ryan Cross</p>
    </footer>
</body>
</html>