body {
    font-family: Arial, sans-serif;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.form-container {
    width: 300px;
    padding: 16px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px 0px #868686;
}

.form-group {
    margin-bottom: 16px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
}

.submit-btn {
    display: block;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #366939;
}


p {
    text-align: center;
    margin-top: 16px;
}

.container h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #5C5C5C;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #BDBDBD;
}

.container input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid #BDBDBD;
}

.container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.container input[type="submit"]:hover {
    background-color: #45a049;
}